{{ define "main" }}
{{ $resource_name := .Page.Title }}
{{ $resource := index $.Site.Data.resources $resource_name }}

{{ $credits := slice }}
{{ if $resource.credits }}
  {{ $credits = $credits | append $resource.credits}}
{{ end }}


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        
        {{ .Content }}

      </article>
      <div>
        <h2>Locations</h2>
        {{ $resource.name }} can be found on the following planets and moons.

        <table>
          <tr>
            <th>Name</th>
            <th>System</th>
          </tr>
          {{ $bodies := merge $.Site.Data.moons $.Site.Data.planets }}
          {{ range $bodies }}
            {{ $farmable := false}}

            {{ range .flora }}
              
              {{ if eq .resource $resource_name }}
                {{ if .outpost_production_allowed }}
                  {{ $farmable = true}}
                {{ end }}
              {{ end }}
            {{ end }}

            {{ if in .resources $resource.name }}
              {{ $farmable = true}}
            {{end }}

            {{ if $farmable }}
              <tr>
                <td>
                    {{ partial "util/get_location_link.html" ( slice .name $.Site) }}
                </td>
                <td>
                  {{ $system_name := partial "util/get_system_name.html" ( slice .name $.Site) }}
                  {{ partial "util/get_location_link.html" ( slice $system_name $.Site) }}
                </td>
              </tr>
            {{ end }}



          {{ end }}

        </table>

      </div>
     
      {{ partial "page_credits.html" (slice $.Site.Data.sources $credits) }}
    </div>
  </div>
</div>
{{ end }}
