{{ define "main" }}
{{ $resource_name := .Page.Title }}
{{ $resource := index $.Site.Data.resources $resource_name }}
{{ $data_file := printf "data/resources/%s.yaml" $resource_name }}

{{ $credits := slice }}
{{ if $resource.credits }}
  {{ $credits = $credits | append $resource.credits}}
{{ end }}


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        
        {{ .Content }}

      </article>
      <div>
        {{ if not (eq $resource.type "Manufactured" )}}
        <h3>Farming Locations</h3>
        {{ $resource.name }} can be farmed in the following locations

        <table>
          <tr>
            <th>Name</th>
            <th>System</th>
            <th>Entity</th>
            <th>Outpost Production</th>
          </tr>
          {{ $bodies := merge $.Site.Data.moons $.Site.Data.planets }}
          {{ range $bodies }}
            {{ $farmable := false}}
            {{ $body := . }}

            {{ $sources := merge .flora .fauna}}

            {{ range $source_name, $source_data := $sources }}
              
              {{ if eq .resource $resource_name }}
                <tr>
                  <td>{{ partial "util/get_location_link.html" ( slice $body.name $.Site) }}</td>
                  <td>
                    {{ $system_name := partial "util/get_system_name.html" ( slice $body.name $.Site) }}
                    {{ partial "util/get_location_link.html" ( slice $system_name $.Site) }}
                  </td>
                  <td>{{ $source_name }}</td>
                  <td>
                    {{ if .outpost_production_allowed }}
                      &check;
                    {{ end }}
                  </td>

                </tr>
              {{ end }}
            {{ end }}

          {{ end }}

        </table>
        {{end}}
      </div>
     
      {{ partial "page_credits.html" (slice $.Site.Data.sources $credits) }}
      {{ partial "last_updated.html" $data_file }}
    </div>
  </div>
</div>
{{ end }}
