{{ define "main" }}

{{ $slate := index $.Site.Data.slates .Title }}
{{ $data_file := printf "data/slates/%s.yaml" .Title }}

{{ $credits := slice }}
{{ if $slate.credits }}
  {{ $credits = $credits | append $slate.credits}}
{{ end }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}

        <p>{{ .Title }} is
          {{ if hasPrefix (lower $slate.type) "a" }}
            an
          {{ else }}
            a
          {{ end }}
          
          {{ $slate.type }} slate which has a mass of {{ $slate.mass }} and is worth {{ $slate.value }}.
          {{ if $slate.sub_title }}
            It is subtitled "{{ $slate.sub_title }}".
          {{ end }}
          {{ if $slate.contains }}
            It contains {{ $slate.contains }}.
          {{ end }}

        </p>
        {{ if $slate.green_light }}
          <p>&#129001; This slate's green light is illuminated.</p>
        {{ end }}



        {{ if $slate.message }}
          <p>
            {{ if $slate.date }}
              Dated {{ $slate.date }}, this
            {{ else if $slate.year }}
              Written at some point in {{ $slate.year }}, this
            {{ else }}
              This
            {{ end }}
            slate contains the following message: <br />
            <blockquote>
              {{ if $slate.to }}
                TO: {{ $slate.to }}<br />
              {{ end }}
              {{ if $slate.from }}
                FROM: {{ $slate.from }}<br /><br />
              {{ end }}
              {{ $slate.message |markdownify }}
            </blockquote>
          </p>

        {{ end }}

        

      </article>
      {{ partial "page_credits.html" (slice $.Site.Data.sources $credits .Title) }}
      {{ partial "last_updated.html" $data_file }}
    </div>
  </div>
</div>
{{ end }}
