{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>

        {{ end }}
        <div class="page-list">
          Data available for {{ .Pages | len }} systems.
            <table class="data_table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Planets</th>
                <th>Moons</th>
                <th>Resources <br />Unique</th>
                <th>Resources<br />Total</th>
              </tr>
            </thead>
            <tbody>
            {{ range .Pages }}
            {{ $system := index $.Site.Data.systems .Title }}
            <tr>
              <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
              <td>{{ $system.level }}</td>
              <td>{{ $system.planets }}</td>
              <td>{{ $system.moons }}</td>
              {{ $resouce_list := slice }}
              {{ range $.Site.Data.planets }}
                {{ if eq .system $system.name}}
                  {{ $resouce_list = $resouce_list | append .resources }}
                {{end}}
              {{ end }}
              {{ range $.Site.Data.moons }}
                {{ $planet := index $.Site.Data.planets .planet }}
                {{ if eq $planet.system  $system.name }}
                  {{ $resouce_list = $resouce_list | append .resources }}
                {{ end }}
              {{ end }}

              <td>
                {{ $resouce_list | uniq | len}}
              </td>
              <td>
                {{ $resouce_list | len}}
              </td>
            </tr>
            {{ end}}
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
{{ end }}
