{{ define "main" }}
{{ $home_name := .Page.Title }}
{{ $home := index $.Site.Data.homes $home_name }}
{{ $data_file := printf "data/homes/%s.yaml" $home_name }}

{{ $city := "" }}
{{ if $home.city }}
  {{ $city = index $.Site.Data.cities $home.city }}
{{ end }}

{{ $credits := slice }}
{{ if $home.credits }}
  {{ $credits = $credits | append $home.credits}}
{{ end }}


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="page">
        {{ .Content }}
      </article>
      <div id="data">
        {{ $body_name := ""}}

        {{ $system_name := ""}}

        {{ $city_link := partial "util/get_location_link.html" ( slice $home.city $.Site) }}
        {{ $body_link := "" }}
        {{ $system_link := "" }}

        {{ if $city }}
          
          {{ if $city.planet}}
            {{ $body_name = $city.planet }}
            {{ $planet := index $.Site.Data.planets $city.planet }}
            {{ $system_name = $planet.system }}
          {{ end }}

          {{ if $city.moon }}
            {{ $body_name := $city.moon }}
            {{ $moon := index $.Site.Data.moons $city.moon }}
            {{ $planet := index $.Site.Data.planets $moon.planet }}
            {{ $system_name = $planet.system }}
          {{ end }}
          
          
          {{ $system_link = partial "util/get_location_link.html" ( slice $system_name $.Site) }}
        {{ end }}

        {{ if $home.planet }}
          {{ $body_name = $home.planet}}
        {{ end }}
        {{ if $body_name }}
          {{ $body_link = partial "util/get_location_link.html" ( slice $body_name $.Site) }}
        {{ end }}

        {{ if not $city_link }}
          {{ if $home.city }}
            {{ $city_link = (printf "<span class='missing_data'>%s</span>" $city_link) | safeHTML }}
          {{ end }}
        {{ end }}

        {{ if not $body_link }}
          {{$body_link = "<span class='missing_data'>TBD</span>" | safeHTML }}
        {{ end }}
        {{ if not $system_link }}
          {{$system_link = "<span class='missing_data'>TBD</span>" | safeHTML }}
        {{ end }}

        {{ $home.name }} is a home
        {{ if $city_link}}in {{$city_link}}{{end}}
        {{ if $body_link }} on {{$body_link}}{{end}}
        {{if $system_link}} in the {{ $system_link }} system{{end}}.

        <h2>General Information</h2>
        {{ if $home.seller }}
        <div>Seller: {{ $home.seller }}</div>
        {{ end }}
        
        <div>
          {{ $price := ""}}
          {{ if or (eq $home.price 0) (eq $home.price "0") }}
            {{ $price = "Free"}}
          {{ else }}
            {{ $price = $home.price | lang.FormatNumber 0 }}
          {{ end }}
          
          Price: {{ $price }}
        </div>
        <div>Requirements:
          {{ if lt ($home.requirements | len) 1}}
            None
          {{ else }}
            <ul>
              {{ range $home.requirements }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
            
          {{ end}}
        </div>
      </div>
     
      {{ partial "page_credits.html" (slice $.Site.Data.sources $credits) }}
      {{ partial "last_updated.html" $data_file }}
    </div>
  </div>
</div>
{{ end }}
