<hr />
{{ $resource_name := .Page.Title }}
{{ $resource := index $.Site.Data.resources $resource_name }}
{{ $resource_slug := replace $resource_name " " "" }}
{{ $resource_upper := $resource_name | upper }}

{{ $resource_name }} is a {{ $resource.rarity }} **{{ $resource.type }}** resource. 
One {{ $resource_name }} has a mass of {{ $resource.mass }} and is worth {{ $resource.value }} credits.
{{ if $resource.symbol }}It has a symbol of {{$resource.symbol}} and can be stored in {{$resource.state}} containers. {{ end }}


{{ .Page.TableOfContents }}

---

<!-- Need more data before we turn this on
## Purchase

{{ $resource_name }} can be purchased at the following locations.
{{ range $.Site.Data.vendors }}
{{ if index .items.RESOURCES $resource_upper }}
* {{ .name }} at {{ .location.city }} on {{.location.planet}} in {{.location.system}} ({{ .location.building }})
{{ end }}

{{ end }}
-->





{{ if and (eq $resource.type "Manufactured") ($resource.crafting) }}
## Crafting
You have a few different options for crafting {{ $resource_name }}.

{{ range $craft_method, $craft_recipes := $resource.crafting }}
{{ $method_slug := replace $craft_method " " "" }}
### {{ $craft_method }}

{{ range $craft_recipes }}
```mermaid
flowchart TD
    {{ $method_slug }}[ {{ $craft_method }}]
    {{ if eq $craft_method "Simple Fabricator" }}
    Power[5 Power]
    Power --> {{ $method_slug }}
    {{ end }}
{{ range $ingredient_name, $ingredient_qty := . }}
{{ $ingredient_slug := replace $ingredient_name " " "" }}


    {{ $ingredient_slug }}[ {{ $ingredient_qty }} {{ $ingredient_name }}]
    {{ $ingredient_slug }} --> {{ $method_slug }}

{{ end }}

```
{{ end }}
{{ end }}
{{ end }}


{{ if .Page.Params.sc_mermaid_pako }}
## Supply Chain
[![](https://mermaid.ink/img/pako:{{ .Page.Params.sc_mermaid_pako }}?type=png)](https://mermaid.live/view#pako:{{ .Page.Params.sc_mermaid_pako }})
[Source](https://mermaid.live/edit#pako:{{ .Page.Params.sc_mermaid_pako }})
{{ end }}
