<hr />
{{ $resource_name := .Page.Title }}
{{ $resource := index $.Site.Data.resources $resource_name }}
{{ $resource_slug := replace $resource_name " " "" }}
{{ $resource_upper := $resource_name | upper }}

{{ $resource_name }} is a {{ $resource.rarity }} **{{ $resource.type }}** resource. 
One {{ $resource_name }} has a mass of {{ $resource.mass }} and is worth {{ $resource.value }} credits.
{{ if $resource.symbol }}It has a symbol of {{$resource.symbol}} and can be stored in {{$resource.state}} containers. {{ end }}


{{ .Page.TableOfContents }}

{{ if $resource.crafting }}
You can craft `1` {{ $resource.name }} using these resources:

{{ range $res_name, $res_qty := $resource.crafting }}
- `{{ $res_qty }}` {{ $res_name }}
{{ end }}
{{ end }}

---

## Purchase
{{ $resource_name }} can be purchased at the following locations.
{{ range $.Site.Data.vendors }}
{{ if index .items.RESOURCES $resource_upper }}
* {{ .name }} at {{ .location.city }} on {{.location.planet}} in {{.location.system}} ({{ .location.building }})
{{ end }}

{{ end }}





{{ if and (eq $resource.type "Manufactured") ($resource.crafting) }}
## Crafting
You have a few different options for crafting {{ $resource_name }}.

{{ range $craft_method, $craft_recipes := $resource.crafting }}
{{ $method_slug := replace $craft_method " " "" }}
### {{ $craft_method }}

{{ range $craft_recipes }}
```mermaid
flowchart TD
    {{ $method_slug }}[ {{ $craft_method }}]
    {{ if eq $craft_method "Simple Fabricator" }}
    Power[5 Power]
    Power --> {{ $method_slug }}
    {{ end }}
{{ range $ingredient_name, $ingredient_qty := . }}
{{ $ingredient_slug := replace $ingredient_name " " "" }}


    {{ $ingredient_slug }}[ {{ $ingredient_qty }} {{ $ingredient_name }}]
    {{ $ingredient_slug }} --> {{ $method_slug }}

{{ end }}

```
{{ end }}
{{ end }}
{{ end }}


{{ if and (eq $resource.type "Organic") ($resource.farming) }}
## Farming
You have a few different options for farming {{ $resource_name }}.
{{ if $resource.farming.Greenhouse }}
### Greenhouse
The Standard, Commercial, and Industrial Greenhouse all use the same input ingredients and power requirements.

```mermaid
flowchart TD
    {{ $resource_slug }}GreenhousePower[Power x 3]
    {{ $resource_slug }}Greenhouse[Greenhouse - {{ $resource.name }}]
    {{ $resource_slug }}Storage[Storage]

    {{ range $res_name, $res_qty := $resource.farming.Greenhouse }}
        {{ $res_slug := replace $res_name " " "" }}
        {{$res_slug}}[{{$res_qty}} {{$res_name}}]
        {{$res_slug}} --> {{ $resource_slug }}Greenhouse
    {{ end }}

    {{ $resource_slug }}GreenhousePower --> {{ $resource_slug }}Greenhouse
    {{ $resource_slug }}Greenhouse --> {{ $resource_slug }}Storage

```
{{ end }}

{{ if index $resource.farming "Animal Husbandry Facility" }}
### Animal Husbandry Facility
The Standard, Commercial, and Industrial Animal Husbandry Facility all have the same power requirements.

There are {{ index $resource.farming "Animal Husbandry Facility" | len }} different combination(s) of ingredients.

{{ range index $resource.farming "Animal Husbandry Facility" }}

```mermaid
flowchart TD
    {{ $resource_slug }}AnimalHusbandryFacilityPower[Power x 3]
    {{ $resource_slug }}AnimalHusbandryFacility[Animal Husbandry Facility - {{ $resource.name }}]
    {{ $resource_slug }}Storage[Storage]

    {{ range $res_name, $res_qty := . }}
        {{ $res_slug := replace $res_name " " "" }}
        {{$res_slug}}[{{$res_qty}} {{$res_name}}]
        {{$res_slug}} --> {{ $resource_slug }}AnimalHusbandryFacility
    {{ end }}

    {{ $resource_slug }}AnimalHusbandryFacilityPower --> {{ $resource_slug }}AnimalHusbandryFacility
    {{ $resource_slug }}AnimalHusbandryFacility --> {{ $resource_slug }}Storage

```
{{ end }}
{{ end }}
{{ end }}


{{ if eq $resource.type "Inorganic"  }}
## Production


{{ $extractors := slice
    (dict "name" (printf "Extractor - %s" $resource.name) "power" 5)
    (dict "name" (printf "Extractor - %s - Commercial" $resource.name)  "power" 10)
    (dict "name" (printf "Extractor - %s - Industrial" $resource.name)  "power" 20)
}}

{{ range $extractors }}
### {{ .name }}
```mermaid
flowchart TD
    {{ $resource_slug }}ExtractorPower[Power x {{ .power }}]
    {{ $resource_slug }}Extractor[Extractor - {{ $resource.name }}]
    {{ $resource_slug }}Storage[Storage - {{ $resource.state }}]

    {{ $resource_slug }}ExtractorPower --> {{ $resource_slug }}Extractor
    {{ $resource_slug }}Extractor --> {{ $resource_slug }}Storage

```
{{ end }}
{{ end }}


{{ if .Page.Params.sc_mermaid_pako }}
## Supply Chain
[![](https://mermaid.ink/img/pako:{{ .Page.Params.sc_mermaid_pako }}?type=png)](https://mermaid.live/view#pako:{{ .Page.Params.sc_mermaid_pako }})
[Source](https://mermaid.live/edit#pako:{{ .Page.Params.sc_mermaid_pako }})
{{ end }}
